@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background: #ffffff;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

h1, h4 {
    padding-left: 2rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product-price {
    font-size: 20px;
    font-weight: 900;
    color: #524f4fb9;
}

.product-image {
    width: 200px;
    border-radius: 15px;
}

button {
    width: 7rem;
    height: 2rem;
    color: white;
    background-color: #ff8800;
    font-weight: 300;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.back-button {
    width: 12rem;
    height: 5rem;
    color: #ff8800;
    background-color: white;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.container-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3em 0rem 3rem 1rem;
}

.product-info {
    width: 100%;
    padding: 3em 2rem 3rem 0rem;
}