@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background: #ffffff;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

h1, h4 {
    padding-left: 2rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product-price {
    font-size: 20px;
    font-weight: 900;
    color: #524f4fb9;
}

.product-image {
    width: 200px;
    padding-top: 1.2rem;
    border-radius: 15px;
}

.product-name {
    text-align: center;
    padding-right: 1rem;
}

button {
    width: 7rem;
    height: 2rem;
    color: white;
    background-color: #ff8800;
    font-weight: 300;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.btn-add {
    margin: 0 0 2rem 2rem;
}

.back-button {
    width: 12rem;
    height: 5rem;
    color: #ff8800;
    background-color: white;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.container-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3em 0rem 3rem 1rem;
}

.product-info {
    width: 100%;
    padding: 3em 2rem 3rem 0rem;
}

#title-add-product {
    text-align: center;
    padding-bottom: 2rem;
}

form {
    margin: 2rem;
}

label {
    font-family: 'Ubuntu';
    padding-left: 2rem;
}

input, textarea {
    margin-left: 1.5rem;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus {
    border-color: #2E2E2E;
}

.input-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-cadastrar {
    margin-top: 2rem; 
    margin-right: 15rem;
    width: 120px;
    float: right;
}

.btn-delete {
    margin-top: 1.5rem;
    background-color: red;
}