{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar {{produto.name}}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <a href='/'>
        <button class="back-button">
            <svg style="width:32px;height:32px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" />
            </svg>
        </button>
    </a>
    <h1 class="title-product">Editar {{ produto.name }}</h1>
    <form method="PUT">  {% csrf_token %}
        <div class="input-field">
            <label for="price">Preço</label>
            <input type="text" step="0,01" id="price" name="price" placeholder="{{ produto.price}}">
        </div>
        </br>
        <div class="input-field">
            <label for="image">Url da imagem</label>
            <input type="text" id="image" name="image" placeholder="{{ produto.image }}">
        </div>

        <button type="submit" class="btn-cadastrar">Salvar</button>
    </form>
</body>

</html>