<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <h1>Olá =)</h1>
    <h4>Confira os produtos disponíveis em nosso catálogo:</h4>
    <div class="product-card">
        <h5 class="product-title">Smartphone</h5>
        <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        <p class="product-price">R$ 2000,00</p>
        <button>+ detalhes</button>
    </div>
</body>
</html>